<nav class="navbar navbar-expand-lg bg-azul ">
  <div class="container-fluid ">
    <a class="nav-link active navbar-brand text-white" routerLink="/inicio">Gestor de empleados</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!userLoginOn" class="nav-item">
          <a class="nav-link text-white" routerLink="/iniciar-sesion">Iniciar Sesion</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li *ngIf="userLoginOn" class="nav-item rounded-pill bg-primary">
          <a class="nav-link text-white" (click)="logout()"  style="cursor: pointer;">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
