<div class="card">
  <div class="card-header fw-bold">Realizar Solicitud para SAHI externo</div>
  <div class="card-body">

    <p> <span class="fw-bold">Nombre del solicitante:</span>  {{userNombre}}</p>

    <p> <span class="fw-bold">Cargo del solicitante:</span>   {{userCargo}}</p>

    <p> <span class="fw-bold">Area del solicitante: </span> {{userArea}}</p>

    <form [formGroup]="formularioDeSolicitud" (ngSubmit)="enviarDatos()">

      <div class="mb-3 d-none">
        <input formControlName="solicitante_nombre" type="text" id="disabledTextInput" class="form-control" placeholder={{userNombre}}>
      </div>

      <div class="mb-3 d-none">
        <input formControlName="solicitante_area" type="text" id="disabledTextInput" class="form-control" placeholder={{userArea}}>
      </div>

      <div class="mb-3 d-none">
        <input formControlName="solicitante_cargo" type="text" id="disabledTextInput" class="form-control" placeholder={{userCargo}}>
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Justificacion:</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="justificacion"
          aria-describedby="helpId"
          placeholder="Justifique la razon por la que requiere"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Nombre del colaborador que va a tener acceso remoto</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="destinatario_nombre"
          aria-describedby="helpId"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Usuario del colaborador que va a tener acceso remoto</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="destinatario_usuario"
          aria-describedby="helpId"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Area del colaborador que va a tener acceso remoto</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="destinatario_area"
          aria-describedby="helpId"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Cargo del colaborador que va a tener acceso remoto</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="destinatario_cargo"
          aria-describedby="helpId"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Fecha de Inicio</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="fecha_inicio"
          aria-describedby="helpId"
          placeholder="Fecha en la que desea iniciar el periodo de acceso remoto"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label fw-bold">Fecha de Finalizacion</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="fecha_fin"
          aria-describedby="helpId"
          placeholder="Fecha en la que desea finalizar el periodo de acceso remoto"
        />
      </div>



      <div class="btn-groups" role="group" aria-label="Button group name">
        <button
          type="submit"
          class="btn btn-success me-3"
        >
          Realizar Solicitud
        </button>
        <button
          type="button"
          class="btn btn-danger"
          routerLink="/inicio"
        >
          Cancelar
        </button>

      </div>



    </form>


  </div>

</div>

