  <app-nav></app-nav>
<div class="m-5">
  <p *ngIf="!userLoginOn">Usuario no Autenticado</p>

  <h1 class="text-center mb-5">EMPLEADOS</h1>

  <div *ngIf="userLoginOn">

          <table class="table shadow-lg  table-hover" >
            <thead class="table-primary">
              <tr class="text-center">
                <th scope="col">Nro.</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Área</th>
                <th scope="col">Cargo</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empleado of Empleados; let iControl=index" class="text-center">
                <td>{{empleado.id}}</td>
                <td>{{empleado.empleado_documento}}</td>
                <td>{{empleado.empleado_nombre}}</td>
                <td>{{empleado.empleado_area}}</td>
                <td>{{empleado.empleado_cargo}}</td>
                <td>{{empleado.empleado_fecha_nacimiento}}</td>
                <td>{{empleado.estado}}</td>
                <td><a routerLink="/ver-empleado/{{empleado.id}}"><img src="assets/boligrafo.png" class="img-fluid" style="width: 40px;"></a></td>

              </tr>
            </tbody>
          </table>
        </div>

        <div class="d-flex align-items-center justify-content-center mt-5">
          <a class="btn btn-primary mb-3" routerLink="/agregar-empleado" role="button" >Crear Empleado</a>
        </div>

</div>


